body {
  font-family: monospace;
  padding: 2%;
  background-color: #d5d9d8;
  }
h1 {
  color: #ffffff;
  text-shadow: 3px 3px 5px #000000;
  text-align: center;
}
h2 {
  text-align: center;
  text-shadow: 3px 3px 5px #a8a8a8;
}
h3 {
  font-weight: bold;
  text-align: center;
  text-shadow: 1px 1px 2px #a8a8a8;
}
p {
  font-size: 12pt;
}
.jumbotron {
  background-color: gray;
}
.page-header {
  navbar-fixed-top;
  border-bottom: none;
  padding-bottom: 40px;
}
.about {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
p {
  text-align: justify;
  max-width: 100%;
}
.interests {
  text-align: center;
}
.center {
  text-align: center;
  color: white;
  margin: 20px;
  border: 3px solid yellow;
  padding: 20px;
  background-color: black;
}
.center {
  font-size: 16pt;
  width: 30%;
  margin:0 auto;
  text-align: center;
}
ul {
  list-style-type: none;
}
.excite {
  font-weight: bold;
  color: #f60000;
}
.item img {
  min-height: 500px;
  max-height: 500px;
  min-width: 700px;
  max-width: 700px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.carousel-caption p {
  color: white;
  text-align: center;
  text-shadow: 2px 2px 3px black;
}
.slide {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 30px;
  padding-bottom: 30px;
}
.about img {
    float: left;
    max-width: 400px;
    padding: 5px;
}
.btn {
  text-align: center;
}
.repository p{
  text-align: center;
  font-size: 23pt;
  color: yellow;
  border-radius: 10px;
  background-color: orange;
  padding-top: 10px;
  padding-bottom: 10px;
  text-shadow: 2px 2px 3px black;
}
.row {
  border: 2px solid black;
  display: inline-block;
}
