body {
  padding: 3%;
  background-color: lightgray;
  }
h1 {
  text-align: center;
  font-family: monospace;
}
.page-header {
  navbar-fixed-top;
  border-bottom: none;
  padding-bottom: 40px;
}
.about img {
  img.display:
    display: block;
    float: left;
    padding: 5px;
}
.about {
  font-family: monospace;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.about p {
  text-align: justify;
  font-size: 12pt;
  max-width: 100%;
}
